    nav {
            height: fit-content; /* Ensure the height is not fixed */
    }

    .container {
        background-color: #1e1e1e;
        margin: 51px 0 0 0;
        flex-grow: 1;
        display: flex;
        height: calc(100vh - 51px); /* Adjust height to account for navbar */
        padding: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .nav-right {
        padding:2px;
    }

    @media screen and (min-width: 768px) {
        .code-section, .media-section {
            padding: 10px;
            width: 50%;
        }
    }

    /*buttons */
    #open-button {
        padding: 6px 12px;
        cursor: pointer;
    }
    
    /* code area */
    .code-section {
        display: flex;
        flex-direction: column;
        min-height: 50%;
        background-color: #252526;
    }

    #code-form {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .CodeMirror {
        flex-grow: 1;
        height: auto;
        margin-bottom: 0px;
    }